.flex-direction{
    flex-direction: row;
}
.width{
    width: 50%;
   
}
.height{
    height: 50%;
}
.bg-mini-img1 {
    background-image: url(../../assets/images/tv.png);
    background-size: cover;

}