* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mini {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 80vh;
    width: 100%;
    color: white;
    /* padding: 10%; */
   
}
.mini-div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.heading-minicard {
    font-weight: 800;
    font-size: 50px;
}

.imageone {
    width: 30%;
    height: 90%;
   
}
.contentone h1{
    margin-left: 0px;
}

.contentone {
    width: 40%;
}

.para {
    font-size: 20px;
}

img {
    height: 100%;
    width: 100%;
}