* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.heightwidth {
    height: 100vh;
    width: 100%;
}

.flex {
    display: flex;
}

.flex-direction {
    flex-direction: column;
}

.flex-direction-row {
    flex-direction: row;
}

.justify-content {
    justify-content: center;
}

.align-items {
    align-items: center;
}

.hewi {
    width: 30%;
    height: 90%;
}

.bg-color {
    background: rgba(0, 0, 0, 0.8);
    /* opacity: 70%; */

}

.bg-img-signin {
    background-image: url("../../assets/images/IN-en-20231120-popsignuptwoweeks-perspective_alpha_website_medium.jpg");
    background-size: cover;

    /* background: rgba(0, 0, 0, 0.2); */
}

.helplink {
    text-decoration: none;
}

.para {
    color: white;
    /* opacity: 50%; */
}

.signspan {
    color: rgba(255, 254, 254, 0.9);

}

.colorone {
    opacity: 0.4;
}

.gap {
    gap: 20px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.marginleft-link {
    margin-left: 10px;
}

.padding-signup {
    /* padding: 30px; */
}

.signup-content {
    margin-top: -10px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.colorwhite {
    color: white;
}

a {
    color: white;
}



.justify-self {
    align-self: flex-start;
}

.need-link {
    color: white;
    opacity: 0.5;
}


input::placeholder {
    /* font-size: 15px; */
    letter-spacing: 1px;
}

.svg-signup {
    position: absolute;
    margin-top: -500px;
    margin-left: -980px;
}

.line-height {
    line-height: 30px;
}

.shadow-signup-layer {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7));
}

.signup-footer>div {
    background-color: black;
    opacity: 0.9;

}

.inner-container{
    display: flex;
    flex-direction: column;
 
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));}
.signup-content input{
    padding-bottom: 10px;
    color: black;
    background-color: grey;
        padding: 10px;
        border-radius: 5px;
       margin-bottom: 10px;
    font-size: 20px;
    }
.inner-container>h1{
        margin-left: 8px;
    }
 