.rows {
    display: flex;
    flex-direction: row;
    /* grid-template-columns: repeat(5, 1fr); */
    gap: 5px;
    padding: 15px 50px 0px 50px;
    /* overflow: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none; */
}

.row-container {
    display: flex;
}

.row-container>li {
    list-style: none;
}

.main-rows {
    position: relative;
    margin: 0px;
}

.right-arrow {
    position: absolute;
    right: 10px;
    bottom: 30%;
}

.left-arrow {
    position: absolute;
    left: 8px;
    bottom: 30%;
}

.right-arrow,
.left-arrow {
    border: none;
    /* visibility: hidden; */
}