* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.flex {
    display: flex;
}

.flex-direction {
    flex-direction: column;
}

.flex-direction-row {
    flex-direction: row;
}

.justify-content {
    justify-content: center;
}

.align-items {
    align-items: center;
}

.hewi {
    width: 30%;
    height: 90%;
}

.bg-color-div {
    background: rgba(0, 0, 0, 0.8);
    /* opacity: 70%; */

}

.bg-img-signin {
    background-image: url("../../assets/images/IN-en-20231120-popsignuptwoweeks-perspective_alpha_website_medium.jpg");
    background-size: cover;
}

.shadow-layer {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7));
}

.helplink {
    text-decoration: none;
}

.para {
    color: white;
    /* opacity: 50%; */
}

.signspan {
    color: rgba(255, 254, 254, 0.9);

}

.colorone {
    opacity: 0.4;
}

.gap {
    gap: 20px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.marginleft-link {
    margin-left: 10px;
}

.padding {
    padding: 8px;
}

.signup-content {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.color-white {
    color: white;
    opacity: 0.5;
    line-height: 32px;
}

.margin-left {
    margin-left: -10px;
}

.justify-self {
    align-self: flex-start;
}

.need-link {
    color: white;
    opacity: 0.5;
}

.signup-content>input {
    background-color: grey;
    /* padding: 10px; */
    border-radius: 5px;
}

input::placeholder {
    font-size: 15px;
    letter-spacing: 1px;
}

.foot-div {
    width: 100%;
    margin-top: 200px;
}

.svg-netflix {
    margin-left: -1000px;
}

.min-height {
    min-height: 450px;
}

.signup-content>input {
    margin-top: 15px;
}

.signup-content>button {
    margin-top: 15px;

}

.foot-div>div {
    margin-left: -10px;
    margin-bottom: -10px;
    background-color: black;
    opacity: 0.8;
}