.favourite-movie-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 1rem;
}

.fav-cont {
    min-height: 100vh;
    width: 100%;
    background-color: black;
}

h1 {
    margin-bottom: 4rem;
    margin-left: 4rem;

}
.fav-cont>button{
    text-align: end;
}
.fav-home{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.fav-home button{
   margin-top: 20px;
   margin-right: 10px;
}